.container {
  background-color: transparent;
}
.left-view {
  height: 100vh;
  width: 30%;
  float: left;
  background-color: #FAFFFF;
}
.cardimage-view {
  width: calc(100% - 10px);
  height: 322px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: cyan;
}
.cardimage-box {
  width: 214px;
  height: 312px;
  background-size: cover;
}
.carddetail-view {
  width: 100%;
  height: calc(100% - 332px);
  background-color: magenta;
}
.right-view {
  height: 100vh;
  width: 70%;
  float: left;
  background-color: #FFFAFF;
}
.loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //background-color: #333333;
}
.header {
  height: 40px;
}
.header-left {
  width: 0;
  height: 0;
  float:left; 
  border-right: 10px solid gray;
  border-bottom: 40px solid transparent;
}
.header-menu {
  width: calc(100% - 10px);
  height: 100%;
  float: left;
  background-color: gray;
}
.deckname_box{
  width: calc(30% - 32px);
  height: 24px;
  margin: 8px;
  background-color: white;
  border-radius: 5px;
  padding-left: 8px;
  float: left;
}
.help-box{
  width: 70%;
  height: 24px;
  float: left;
}
.cardlist-view {
  background-color: #AAAAAA;
  height: calc(100vh - 103px);
}
.footer {
  background-color: gray;
  height: 30px;
  margin-bottom: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}