.container {
  background-color: gray;
}
.left-view {
  height: 100vh;
  width: 40%;
  float: left;
  background-color: #FAFFFF;
}
.right-view {
  height: 100vh;
  width: 60%;
  float: left;
  background-color: #FFFAFF;
}
.loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}
.header {
  background-color: red;
  height: 10vh;
}
.cardlist-view {
  background-color: #AAAAAA;
  height: 90vh;
}
