<div class="container">
  <app-card-view [card]="selected_card"></app-card-view>
  <div class="right-view">
    <div class="container">
      <div class="header">
        <div class="header-left"></div>
        <div class="header-menu">
          <div class="deckname_box">a</div>
          <div class="help-box">a</div>
        </div>
      </div>
      <div class="main-extra-side-pool">
        <div class="main-select">
          <div class="x-select-box">デッキ</div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="extra-select">
          <div class="x-select-box">EX</div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="side-select">
          <div class="x-select-box">サイド</div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="pool-select">
          <div class="x-select-box">かばん</div>
          <div class="x-select-num-box">0</div>
        </div>
      </div>
      <div class="cardlist-view">
        <app-maindeck 
          *ngIf="view_select=='main'"
          (select_card)="receive_card($event)"
          [deck]="current_deck">
        </app-maindeck>
        <app-extradeck
          *ngIf="view_select=='extra'">
        </app-extradeck>
        <app-sidedeck
          *ngIf="view_select=='side'">
        </app-sidedeck>
        <app-cardpool
          *ngIf="view_select=='cardpool'">
        </app-cardpool>
        <div class="footer">aa</div>
      </div>
    </div>
  </div>
<div *ngIf="cards.length==0" class="loading-cover">aaa</div>

