<div class="container">
  <app-card-view [card]="selected_card"></app-card-view>
  <div class="right-view">
    <div class="container">
      <div class="header">
        <div class="header-menu">
          <div class="deckname_box">
            <select (change)="change_deck()" style="width:90%;" name="deck_select">
              <option *ngFor="let deck of decks" (value)="deck" >{{deck.name}}</option>
            </select>
          </div>
          <div class="help-box">a</div>
        </div>
      </div>
      <div class="main-extra-side-pool">
        <div class="main-select"
         (click)="click_main_select()"
         >
          <div class="x-select-box"><img src="/assets/str_deck.png" height="23"></div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="extra-select"
        (click)="click_extra_select()"
        >
          <div class="x-select-box"><img src="/assets/str_ex.png" height="23"></div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="side-select"
        (click)="click_side_select()"
        >
          <div class="x-select-box"><img src="/assets/str_side.png" height="23"></div>
          <div class="x-select-num-box">0</div>
        </div>
        <div class="pool-select"
        (click)="click_pool_select()"
        >
          <div class="x-select-box"><img src="/assets/str_kaban.png" height="23"></div>
          <div class="x-select-num-box">0</div>
        </div>
      </div>
      <div class="cardlist-view">
        <app-maindeck 
          *ngIf="view_select=='main'"
          (select_card)="receive_card($event)"
          (add_card)="add_card($event)"
          (remove_card)="remove_card($event)"
          (add_card_to_side)="add_card_to_side($event)"
          [deck]="current_deck">
        </app-maindeck>
        <app-extradeck
          *ngIf="view_select=='extra'"
          (select_card)="receive_card($event)"
          (add_card)="add_card($event)"
          (remove_card)="remove_card($event)"
          (add_card_to_side)="add_card_to_side($event)"
          [deck]="current_deck">
        </app-extradeck>
        <app-sidedeck
          *ngIf="view_select=='side'"
          (select_card)="receive_card($event)"
          (add_card)="add_card($event)"
          (remove_card)="remove_card($event)"
          (add_card_to_side)="add_card_to_side($event)"
          [deck]="current_deck">
        </app-sidedeck>
        <app-cardpool
          *ngIf="view_select=='pool'"
          (select_card)="receive_card($event)"
          (add_card)="add_card($event)"
          (remove_card)="remove_card($event)"
          (add_card_to_side)="add_card_to_side($event)"
          [cards]="cards">
        </app-cardpool>
        <div class="footer">aa</div>
      </div>
    </div>
  </div>
<div *ngIf="cards.length==0" class="loading-cover">aaa</div>

